@import "var";

.wrapper{
    height: 100vh;
}
.page{
    &__sidebar{
        background: white;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        width: 17vw;
    }
    &__content{
        background: $background_content;
    }
}