@import "var";

.document{
    &__container{
        padding: 2%;
        >.action{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >.float-left{
                padding-block: 1%;
                display: inline-flex;
                    gap: 1vw;
            }
        }
        >.table-responsive{
            filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.06));
            background-color: white;
            overflow-x: clip;
            overflow-y: clip;
            th{
                color: $table_header;
                font-weight: lighter;
            }
            tbody .tb{
                &__name{
                    font-weight: bold;
                }
                &__detail{
                    color: $table_cell;
                }
            }
            tbody tr {
                line-height: 14px;
                vertical-align: initial;
            }
        }
    }
}