.pdf-reader_information-canvas {
    background-color: white;
    padding: 4px;
    .information_wrap {
        border: 2px solid red;
        margin-top: 8px;
        .information_item {
            font-size: 1.2rem;
            font-weight: 500;
            padding: 2px;
        }
    }
}