@import "var";

.sidebar{
  
    &__profile{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        margin-bottom: 1.4rem;
        padding-block: 3vh;
        >img{
            width: 3.846rem;
            margin-right: 12px;
        }
        .info{
            &__name{
                font-weight: bold;
            }
            &__email{
                color: $email;
                font-size: 0.8462rem;
            }
            >p{
                margin: 0;
            }
        }
    }
    &__title{
        text-decoration: none;
        font-weight: bold;
        color: $active;
        font-size: 1.385rem;
    }
    &__link{
        text-decoration: none;
        color: $text_normal;
        cursor: pointer;
        :hover {
            color: $active;
        }
        svg{
            stroke: $icon_normal;
            rect{
                stroke: none;
            }
        }
        &--active{
            color: $active;
            svg{
                path{
                    stroke: $active;
                }
                rect{
                    fill: $active;
                    stroke: none;
                }
            }
        }
    }
    &__sticky {
        padding: 0 1rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    // sibar pdf
    &__tool-box {
        font-size: 1.385rem;
        cursor: pointer;
        span {
            &:hover {
                color: $active;
            }
        }
       .tool {
            box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
            left: 40px;
            right: 20px;
            margin-top: 4px;
            border-radius: 4px;
            display: none;
           &__item {
               padding: 6px 12px;
               font-weight: 600;
               &:hover {
                   cursor: pointer;
                   background-color: rgba(0,0,0,0.2);
               }
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 22px;
            left: 0;
            width: 100%;
            border: 4px solid transparent;
        }
        &:hover .tool{
            display: block;
        }
    }
    &__templates {
        width: 100%;
    }
}

// @supports ((position: -webkit-sticky) or (position: sticky)) {
//     .sidebar__sticky {
//         position: -webkit-sticky;
//         position: sticky;
//     }
// }

@media (max-width: 768px) {
    .w-md-100{
        width: 100%;
    }
}
