// Content
$background_content: #E5E5E5;

// Table
$table_header: #90A0B7;
$table_cell: #707683;

// sidebar text
$text_normal: #334D6E;
$email: #90A0B7;

// sidebar icon
$active: #267C85;
$icon_normal: #C2CFE0;